.tabs-content-admin {
  margin: 0 1rem 0 1rem;
}


.MuiSvgIcon-root {
  fill: currentColor;
  width: 0.7em;
  height: 0.7em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}


.actions-adm{
	justify-content: space-around;
	border-radius: 0;
}
.actions-adm .tabs-item__actions{
	width: 100%;
	border-radius: 0;
}
.actions-adm .delete .act{
	border-radius: 0;
	background-color: #FF0038;
}