.main-home {
  width: 100%;
  align-items: center;
  margin: 0;
  margin-top: 0;
  padding: 0;
  background-image: url('../../assets/image/AdobeStock_331719984.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.home-intro {
  height: 90vh;
  display: flex;
  padding: 0 6rem;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.stack {
  width: 100%;
  align-content: flex-start;
}
.container-home {
  background-image: url('../../assets/image/AdobeStock_270209307.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.home-push {
  width: 100%;
  padding: 0rem 6rem;
}

.last-home {
  display: flex;
  margin-top: 2rem;
  /*background-image: url('../../assets/image/AdobeStock.png');
	margin-bottom: 2rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;*/
}

.hero-title {
  font-size: 52px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.hero-title p {
  font-size: 22px;
}

.title {
  font-weight: 500;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.3;
  font-size: 5rem;
  color: var(--color);
  transition: color 0.2s ease-out;
}

.title span,
.subTitle span {
  font-weight: 600;
  color: #ff0038;
  transition: color 0.2s ease-out;
}

.subTitle {
  color: var(--color);
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  transition: color 0.2s ease-out;
}
.see-tabs {
  border: 1px solid #ff0038;
  background: transparent;
  color: #ff0038;
  margin-left: 1rem;
}

@media screen and (max-width: 90em) {
  .home-intro {
    height: 70vh;
  }
}
@media screen and (max-width: 80em) {
  .home-intro {
    height: 35vh;
  }
}
@media screen and (max-width: 70em) {
  .home-intro {
    height: 35vh;
  }
}

@media screen and (max-width: 56em) {
  .main-home {
    padding: 1rem;

    width: 100%;
    align-items: center;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .home-intro {
    height: 90vh;
    display: flex;
    padding: 0 0rem;
    justify-content: center;
    align-items: center;
  }
  .home-push {
    width: 100%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
  }
  .home-push .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .home-push .card-content .MuiPaper-root {
    width: 100%;
    margin-bottom: 2rem;
  }
  .home-push .artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d4d7e6;
    width: 63%;
    padding: 1rem;
  }
  .explore-difficulty {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    -webkit-user-select: none;
    user-select: none;
  }
	.see-tabs {
  margin-left: 0rem;
}
	.explore-artist {
  display: none;
}
}

@media screen and (max-width: 37.5em) {
  .title {
    font-size: 2rem;
  }
  .subTitle {
    font-size: 1rem;
  }

  .backgroundImage {
    align-items: start;
  }
  .container {
    width: 100%;
    margin-top: 0rem;
    padding-left: 0rem;
  }
  .smallWrapper {
    margin-top: 7rem;
    width: 100%;
    padding-left: 20%;
    margin: 0;
  }
}

@media screen and (max-width: 30em) {
  .title {
    font-size: 2rem;
  }
  .home-intro {
    height: 75vh;
    display: flex;
    padding: 0 0rem;
    justify-content: center;
    align-items: center;
  }
  .subTitle {
    font-size: 1.2rem;
  }
  .container {
    width: 100%;
    margin-top: 0rem;
    padding-left: 0rem;
  }
  .smallWrapper {
    margin-top: 7rem;
    width: 100%;
    padding-left: 12%;
    margin: 0;
  }
}
@media screen and (max-width: 25em) {
  .title {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
  .container {
    width: 100%;
    margin-top: 0rem;
    padding-left: 0rem;
  }
  .smallWrapper {
    margin-top: 7rem;
    width: 100%;
    padding-left: 0%;
    margin: 0;
  }
}
