.card-sociaty{
	margin: 2rem;
	padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.form-input{
	display:flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}
.title-sociaty{
	text-align: center;
	color: #343434;


}

.sociaty-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
	color: #222;
	
	width: 100%;
}
.form-control {
	margin: 1rem;
}

input{
	width: 100%;
	color: #333;
	font-size: .875rem;
	font-weight: 200;
	line-height: 1;
	flex: 1 0 auto;
	padding: 10px 50px 10px 24px;
	background: none;
	border: 1px solid #05668dff;
	border-radius: 35px;
	outline: none;
	box-sizing: border-box;
}

.error{
	  margin-top: .5rem;
	  color: #f64f59;
}

.form-control input::placeholder{
	color: #909298;
}