.sociaty{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.sociaties {
	height: 7rem;
	background-color: #028090ff;
	color: #fff;
	display: flex;
	align-items: center;
}
h2{
	color: #ffff;
	margin:0;
	margin-left: 2rem;	
}