.auth-page {
  width: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.authentication__header {
  color: #d4dcff;
  text-align: center;
}

.title__auth,
.user-add {
  color: #d4dcff;
  list-style: none;
  text-decoration: none;
  margin-left: 0;
}

input#file-upload-button{
	background:transparent;
}

.authentication {
  background: #11142f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 25rem;
  text-align: center;
  padding: 2rem;
}

.authentication form {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.authentication form .form-control {
  border: 1px solid #1c204c;
  background: #1c204c;
  border-radius: 3px;
  color: var(--color);
  padding: calc(1.5 * var(--space)) calc(1 * var(--space));
  display: block;
  width: 100%;
  outline: 0;
  min-height: 44px;
  margin: 0rem 0;
}

.error {
  margin-top: 0.5rem;
  color: #FF0038;
}
