.main-tutorials-profile {
  min-height: 100vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start !important;
  padding: 0rem 0rem;
}
.tutorial-profil {
	font-family: Montserrat, sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  grid-gap: calc(4 * var(--space));
  grid-auto-flow: dense;
  margin: 0px;
  list-style: none;
  padding: 0;
}

.tutorial-profil .tutorials-data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
}

.tutorial-profil .card-tutorials-profil {
	width: 100%;
	position: relative;
	transition: 0.3s;
	border-radius: 3px;
}
.tutorial-profil .tutorials-item__info {
	margin: 0;
}
.tutorial-profil .tutorials-choose-profil {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.tutorial-profil .button {
  padding: 0rem;
  margin: 0rem;
  border-radius: 0;
}
