.explore-last {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	width: 100%;
	margin-right: 5rem;
}
.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	margin-top: 1rem;
}

.card-content-last .MuiPaper-root {
	padding: 0 2rem;
	width: 100%;
}

.last-card {
  padding: 0rem;
  color: #404972;
  position: relative;
}


.last-card img {
  height: 20rem;
}

.last-card .list-music-last {
  width: 100%;
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.last-card .list-music-last ul {
	list-style-type: decimal;
	padding: 1.5rem;
}
.type-card .list-music-type table tbody tr td{
	margin:.5rem 1rem;
}



.MuiTableRow-root:last-child {
  border-bottom: none;
}
