
.main-explore {
	min-height:90vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row-reverse;
	align-items: flex-start;
	padding: 2rem 6rem;
}
.explore {
	min-height:90vh;
	display: flex;
  flex-direction: column;
  width: 100%;
}

.explore-home{
	height: 15rem;
	width: 100%;
	background-image: url('../../assets/image/AdobeStock.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}