.main-edit {
  display: flex;
  width: 100%;
	justify-content: center;
	align-content: center;
	padding: 2rem 6rem;
}

.card-edit {
  padding: 2rem;
	min-width: 40rem;
}
.card-edit h2 {
  margin-left: 0;
}

.title-edit {
  text-align: center;
  color: #cecfd2;
  margin-top: 2rem;
}

form.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.edit-control {
  width: 100%;
  border: 1px solid #1c204c;
  color: #f8f8f873;
  padding: calc(1.5 * var(--space)) calc(1 * var(--space));
  display: block;
  outline: 0;
  background: #1c204c;
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 3px;
}

.error {
  margin-top: 0.5rem;
  color: #FF0038;
}

.edit-control::placeholder {
  color: #f8f8f873;
  margin: 0 !important;
}

@media (max-width: 768px) {

	.main-edit {
 padding: 1rem;
    color: #d4dcff;
}
	.main-edit .MuiPaper-root {
 		width: 100%;
}
	.main-edit .card-edit {
    padding: 1rem;
    min-width: 0rem;
}
  .profile-container .authentication {
    min-width: 0 !important;
  }
  .profile-container .user-prof-card {
    min-width: 0 !important;
  }
  .box .box-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .box .box-cell {
    width: 100%;
    flex: 1;
    padding: 16px;
  }

  .profile-container .update-password {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .upd-password .authentication form {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
  }

	.main-tabs-profile, .main-column-profile{
		flex-direction: column !important;
	}
}

