.tabs-list-item {
  color: #d4dcff;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px;
  list-style: none;
  padding: 0;
  width: 100%;
}
.card-tuto-item-info {
	width: 100%;
	background: #030d44b5;
  color: 6px 6px 0px #1d2761;
  border-radius: 8px;
  border: none;
	padding: 3rem;
	transition: none;
}

.card-tuto-item-info::after{
	content:none;
}

.tuto-item-info {
  width: 100%;
  display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
}

.video {
  width: 75%;
  padding: 2rem;
}

.tuto-item__info {
  width: 25%;
  padding: 2rem;
}

.tab-item {
  margin: 1rem;
  flex: 0 1 auto;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.tab-item h2 {
  margin-left: 0;
}

.difficulty {
  color: greenyellow;
}
.items-desc {
  color: #d4dcff;

}


.page-controls span {
	font: inherit;
  font-size: 0.8em;
  padding: 0 0.5em;
}

.page-controls button {
	height: 40px;
  background: #d4dcff;
  border: 0;
  font: inherit;
  font-size: 0.8em;
  border-radius: 4px;
}

.page-controls button:first-child {
	border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-controls button:last-child {
	border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tutorials-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
	;
}


.tutorials-data label {
  color: #8491c7;
  justify-content: left;
  background: #d4dcff26;
  padding: 0.3rem;
  border-radius: 4px;
  margin-right: 1rem;
  font-family: Inter, sans-serif;
  line-height: 1.3;
  font-size: 0.9em;
  font-weight: 700;
}
.easy {
	background: #32cd3257;
	text-align: center;
  border-radius: 999px;
  color: #32cd32 !important;
  padding: 0.5rem 1rem;
}

.linktab{
	text-decoration: none;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: -3.5rem;
}
.medium {
  background: #f38f2857;
	text-align: center;
  border-radius: 999px;
  color: #f38f28 !important;
  padding: 0.5rem 1rem;
}
.hard {
  background: #fd4a3b57;
	text-align: center;
  border-radius: 999px;
  color: #fd4a3b !important;
  padding: 0.5rem 1rem;
}
