.main-tutorials {
  height: 100%;
  padding: 2rem 6rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.tutorial {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tutorial-title {
  color: #FF0038;
  display: flex;
  align-items: center;
}
h2 {
  color: #d4dcff;
  margin: 0;
}
