.main-tutorials {
	min-height:100vh;
  height: 100% !important;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start !important;
	padding: 2rem 6rem;
}
.tutorial {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.tutorials-title {
  color: var(--orange);
  display: flex;
  align-items: center;
}
h2 {
  color: var(--color);
  margin: 0;
}

.card {
  background: linear-gradient(110deg, #090f36 60%, #1d2761 
 60%);
}
@media screen and (max-width: 80em) {
  .title {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 70em) {

}

@media screen and (max-width: 56em) {
  .main-tutorials  {
    padding: 1rem;
  }
	.descritif-tutorials {
		margin-left: 0;
		grid-column: 1/1;
	}
}

@media screen and (max-width: 37.5em) {
  .main-tutorials  {
    padding: 1rem;
  }
	.descritif-tutorials {
		margin-left: 0;
		grid-column: 1/1;
	}
}

@media screen and (max-width: 30em) {


}
@media screen and (max-width: 25em) {


}