.instrument-item {
  margin: 1rem;
  flex: 0 1 auto; /* Default */
  width: 20%;
}

.instru {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0;
	box-shadow: 10px 10px 0px #496ab733;
	border:none; 
}

.instrument-item__content {
  padding: 0;
  height: 15rem;
  position: relative;
}

.instrument-item__info {
  text-align: center;
  font-family: Inter, sans-serif;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 700;
}

h2 {
  color: #4388e7;
}
h3 {
  color: #d4dcff;
}
.instrument-item__info h2,
.instrument-item__info h3 {
  margin: 0.5rem 0 0.5rem 0;
}
.instrument-item__p {
  margin-top: 2rem;
  color: var(--color-light);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.instrument-item__actions {
  padding: 1rem;
  text-align: center;
  background: var(--card-bg-footer, var(--card-footer));
  position: absolute;
  bottom: 0;
  width: 100%;
}

.instrument-item__modal-content {
  padding: 0;
}

.instrument-item__modal-actions {
  text-align: right;
}

.instrument-item__actions button,
.instrument-item__actions a {
  margin: 0.5rem;
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .instrument-item__image {
    height: 20rem;
  }
}

@media screen and (max-width: 80em) {
  .instrument-item {
    margin: 1rem;
    flex: 0 1 auto;
    width: 20%;
  }
}
@media screen and (max-width: 70em) {
  .instrument-item {
    margin: 1rem;
    flex: 0 1 auto;
    width: 20%;
  }
}

@media screen and (max-width: 56em) {
  .instrument-item {
    margin: 1rem;
    flex: 0 1 auto;
    width: 80%;
  }
}

@media screen and (max-width: 47.5em) {
  .instrument-item {
    margin: 1rem;
    flex: 0 1 auto;
    width: 90%;
  }
}
