.main-tabs-instru {
  margin: 0;
  margin-top: 0;
  padding: 0;
}

.home-push-content {
  display: flex;
  width: 100%;
  background: #090e2f;
  /* background-position-x: revert; */
  /* backface-visibility: visible; */
  backdrop-filter: opacity(0.5);
  /* background: space; */
  background-repeat: round;
}
.hero-title-push {
  width: 35%;
  padding: 2rem 0rem 0px 2rem;
  font-size: 3rem;
}
.hero-title-push h2 {
  width: 100%;
  padding: 4rem 0rem 0px 0rem;
  font-size: 3rem;
  margin-left: 0;
}

.hero-title-push .text {
  font-size: 22px;
  padding: 0;
  width: 80%;
  color: #a1aed4;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.slick-slider .MuiPaper-root{
	width: 80%;
	margin: 0rem;
}
.single-instrument {
  text-align: center;
  padding: 15px 15px 15px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #252f5a;
  background: #030d44b5;
  border-radius: 3px;
}

.header-single-instrument {
  text-align: center;
}

.content-single-instrument {
  margin-top: 2rem;
  font-size: 0.8rem;
}

.card-header-single-instrument {
  border-radius: 3px;
  border: none;
  margin: 1rem;
  height: 18rem;
  padding: 0rem 2rem 0rem 2rem;
  margin: 0rem 0rem 2rem 0;
  width: 90% ;
}

.header-instrument-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header-instrument-slide h2 {
  margin-left: 0;
}

.single-instrument .header-single-instrument .link-datas-instru {
	font-weight: normal !important;
}

.card-header-single-instrument .header-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.7rem;
}

.card-header-single-instrument .header-data button {
  border: none;
  border-radius: 999px;
  padding: 0.4rem;
  cursor: pointer;
}

.content-single-instrument label {
  color: #8491c7;
  background: #d4dcff26;
  padding: 0.3rem;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
}
.content-single-instrument h4 {
  color: #a1aed4;
}

.dif {
  padding: 0.3rem;
  border-radius: 4px;
}

.easy {
  background: #32cd3257;
  border-radius: 999px;
  color: #32cd32 !important;
  padding: 0.5rem 1rem;
}
.medium {
  background: #f38f2857;
  border-radius: 999px;
  color: #f38f28 !important;
  padding: 0.5rem 1rem;
}
.hard {
  background: #fd4a3b57;
  border-radius: 999px;
  color: #fd4a3b !important;
  padding: 0.5rem 1rem;
}
.tabs-choose {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  position: relative;
  margin-top: 2rem;
}


.card-header-single-instrument .header-data .green {
  background: #32cd3257;
  color: #32cd32 !important;
}
.card-header-single-instrument .header-data .orange {
  background: #f38f2857;
  color: #f38f28 !important;
}
.card-header-single-instrument .header-data .red {
  background: #fd4a3b57;
  color: #fd4a3b !important;
}
.instru-all-data {
  margin-top: 2rem;
}

.header-single-instrument {
  text-align: center;
  color: #8491c7;
}

.header-single-instrument .link-datas-instru {
  text-align: center;
  text-decoration: none;
  color: #8491c7 !important;
  font-weight: bold;
  margin-bottom: 1rem;
}
.slick-slider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-single-instrument hr {
  margin: 2rem 0;
  color: #1d2761;
  background: #1d2761;
  border: 1px solid #1d2761;
  border-radius: 8px;
}

.header-single-instrument:last-child hr {
  display: none;
}

@media screen and (max-width: 80em) {
 	.header-single-instrument .link-datas-instru {
   
    font-size: 0.7rem;
	}

		.single-instrument{
		width: 100% !important;
	}
}
@media screen and (max-width: 70em) {
 	.header-single-instrument .link-datas-instru {
   
    font-size: 0.7rem;
	}

		.single-instrument{
		width: 100% !important;
	}
}
@media screen and (max-width: 56em) {
 	.header-single-instrument .link-datas-instru {
   
    font-size: 0.7rem;
	}

		.single-instrument{
		width: 100% !important;
	}

}
@media screen and (max-width: 47.5em) {
	.header-single-instrument .link-datas-instru {
   
    font-size: 0.7rem;
	}

		.single-instrument{
		width: 100% !important;
	}

}
@media screen and (max-width: 37.5em) {
	.header-single-instrument .link-datas-instru {
   
    font-size: 0.7rem;
	}
  .instru-carou {
    padding: 0rem 2rem 0 1rem;
  }
	.single-instrument{
		width: 100% !important;
	}
  .descritif-instruments {
    grid-column: 1/1;
  }
}

@media screen and (max-width: 30em) {
}
@media screen and (max-width: 25em) {
}
