.main-instruments-page {
	min-height:100vh;
  height: 100% ;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start;
	padding: 2rem 6rem;
		background-image: url('../../assets/image/perso1.png');
		background-size: cover;
	background-repeat: no-repeat;	
	background-position: bottom;

}
.instrument-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.instrument-title {
  margin-left: 2rem;
  color: #FF0038;
  display: flex;
  align-items: center;
}
h2 {
  color: #d4dcff;
  margin: 0;
}


@media screen and (max-width: 80em) {
  .title {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 70em) {
}

@media screen and (max-width: 56em) {
  .main-instruments-page {
		min-height:90vh;
    padding: 1rem;
  }
  .descritif-instruments-data {
    margin-left: 0;
    grid-column: 1/1;
  }
	.descritif-instruments h1 {
    font-size: 40px;
	}
	.descritif-instruments strong {
    font-size: 40px;
	}
	.descritif-instruments-data h2 {
    font-size: 40px;
	}
	.descritif-instruments-data strong {
    font-size: 40px;
	}
	.descritif-instruments-data p, .descritif-instruments p {
    font-size: 16px;
	}
	.header-search {
		margin-top: 2rem;
    margin-bottom: 0rem;
}
}

@media screen and (max-width: 37.5em) {
  .main-instruments-page {
    padding: 1rem;
  }
  .descritif-tutorials {
    margin-left: 0;
    grid-column: 1/1;
  }
}

@media screen and (max-width: 30em) {
}
@media screen and (max-width: 25em) {
}
