.main-instruments-page {
	min-height:100vh;
  height: 100% ;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start;
	padding: 2rem 6rem;
}
.instrument-page {
  display: flex;
  flex-direction: column;
  width: 100%;
	height: 100vh;
  margin-top: 2rem;
}

.instrument-title {
  margin-left: 2rem;
  color: #1BB453;
  display: flex;
  align-items: center;
}
h2 {
  color: #d4dcff;
  margin: 0;
  margin-left: 2rem;
}


