.place-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border-radius: 0;
	box-shadow: 10px 10px 0px #496ab733;
	border:none; 
  background: #474b4f;
	color: white;
	margin-top: 4rem;
	background: var(--card-bg,var(--background-light));

}
